<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ffc.app">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" android:minSdkVersion="30" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:name=".FamilyFolderApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".asm.HomeListActivity"></activity>
        <activity android:name=".MapActivity" />
        <activity android:name=".report.IncidentReportActivity" />
        <activity android:name=".AsmMenuActivity" />
        <activity android:name="com.berry_med.monitordemo.activity.DeviceMainActivity" />
        <activity android:name=".person.genogram.personPopupActivity" />
        <activity android:name="samplecode_north_vision_lifecare_10.LifeCareActivity" />
        <activity android:name="samplecode_north_vision_thermometer.Activity.ThermometerActivity" />
        <!-- <activity android:name=".PersonPopup" /> -->
        <activity android:name=".report.ReportActivity" /> <!-- <activity -->
        <!-- android:name=".ReportActivity" -->
        <!-- android:label="@string/title_activity_report" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <meta-data
            android:name="android.app.searchable"
            android:resource="@xml/searchable" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="@string/firebase_pref_enable" />
        <meta-data
            android:name="firebase_performance_collection_enabled"
            android:value="@string/firebase_pref_enable" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
        <provider
            android:name=".search.RecentSearchProvider"
            android:authorities="ffc.app.search.RecentSearchProvider" />

        <receiver
            android:name=".ConnectivityChangeReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <service android:name=".util.messaging.MessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".SplashScreenActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Splash"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".auth.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".auth.legal.LegalAgreementActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".location.MarkLocationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".location.HouseNoLocationActivtiy"
            android:label="เลือกบ้านไม่มีพิกัด"
            android:screenOrientation="portrait" />
        <activity
            android:name=".location.HouseActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".health.service.community.HomeVisitActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".search.SearchActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".search.SearchResultActivity" />
        </activity>
        <activity
            android:name=".search.SearchResultActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".search.SearchResultActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".person.PersonActivitiy"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TranslucentStatus" />
        <activity
            android:name=".photo.TakePhotoActivity"
            android:label="@string/photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photo.AvatarPhotoActivity"
            android:label="@string/photo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".photo.PhotoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Gallery" />
        <activity android:name=".person.genogram.GenogramActivity" />
        <activity
            android:name=".setting.SettingsActivity"
            android:exported="true"
            android:label="@string/action_settings"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".setting.AboutActivity"
            android:exported="true"
            android:label="@string/about"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".setting.LegalViewActivity"
            android:label="@string/about_legal"
            android:parentActivityName=".setting.AboutActivity" />

        <service android:name="samplecode_north_vision_thermometer.Service.BackgroundService"></service>
        <service android:name="samplecode_north_vision_thermometer.bluetooth.BluetoothLeService" />
        <service android:name="com.north_vision.lifecare_10.Service.BackgroundService"/>
    </application>

</manifest>
